<?xml version="1.0"?>
<launch>

  <!-- What simulator config package to use -->
  <arg name="simulation_package" default="$(optenv SIMULATION_CONFIG_PACKAGE rbvogui_gazebo)"/>
  <arg name="config_package" default="$(optenv CONFIG_PACKAGE rbvogui_gazebo)"/>
  <arg name="sim_bringup_package" default="$(optenv SIM_BRINGUP_PACKAGE rbvogui_sim_bringup)"/>
  <arg name="world_package" default="$(optenv WORLD_PACKAGE rbvogui_gazebo)"/>
  <arg name="rviz_package" default="$(optenv RVIZ_PACKAGE rbvogui_gazebo)"/>
  <arg name="pad_package" default="$(optenv PAD_PACKAGE robotnik_pad)"/>

  <!-- What to execute -->
  <arg name="run_simulation" default="true"/>
  <arg name="run_robot" default="true"/>
  <arg name="run_rviz" default="true"/>
  <arg name="run_localization" default="false"/>
  <arg name="run_mapping" default="false"/>
  <arg name="run_navigation" default="false"/>

  <!-- Simulation configuration -->
  <arg name="sim" default="$(optenv SIM_CONTROLLER true)"/>
  <arg name="world" default="$(optenv ROBOT_SIM_GAZEBO_WORLD worlds/demo.world)" /> <!-- demo.world, rbvogui.world -->
  <arg name="gazebo_world" default="$(eval find(world_package) + '/' + world)"/> 
  <arg name="debug" default="false"/>
  <arg name="paused" default="false"/>
  <arg name="headless" default="false"/>
  <arg name="use_gui" default="$(optenv ROBOT_SIM_GAZEBO_GUI true)"/>
  <arg name="use_gpu" default="$(optenv ROBOT_SIM_GPU true)"/>

  <!-- Robot configuration -->
  <arg name="robot_id" default="$(optenv ROBOT_ID robot)"/>
  <arg name="prefix" default="$(arg robot_id)_"/>
  <arg name="robot_model" default="$(optenv ROBOT_MODEL rbvogui)"/>
  <arg name="robot_xacro" default="$(optenv ROBOT_XACRO rbvogui_std.urdf.xacro)"/>
  <arg name="robot_use_custom_xacro_path" default="$(optenv ROBOT_USE_CUSTOM_XACRO_PATH false)"/>
  <arg name="robot_custom_xacro_path" default="$(optenv ROBOT_CUSTOM_XACRO_PATH /home/robot/)"/>
  <arg name="kinematics" default="$(optenv ROBOT_KINEMATICS ackermann_4s)"/>
  <arg name="twist2ackermann" default="$(optenv ROBOT_ACKERMANN false)"/>
  <arg name="merge_lasers_sim" default="$(optenv ROBOT_SIM_MERGE_LASERS false)"/> 
  <arg name="x_init_pose" default="$(optenv ROBOT_SIM_GAZEBO_INIT_POSE_X 0)"/>
  <arg name="y_init_pose" default="$(optenv ROBOT_SIM_GAZEBO_INIT_POSE_Y 0)"/>
  <arg name="z_init_pose" default="$(optenv ROBOT_SIM_GAZEBO_INIT_POSE_Z 0)"/>
  <arg name="a_init_pose" default="$(optenv ROBOT_SIM_GAZEBO_INIT_POSE_A 0)"/>
  <arg name="launch_base_hw_sim" default="$(optenv ROBOT_SIM_BASE_HW false)"/>

  <!-- Localization configuration -->
  <arg name="map_file" default="demo/demo.yaml"/>
  
  <!-- Arm configuration-->
  <arg name="launch_arm" default="$(optenv ROBOT_HAS_ARM false)"/>
  <arg name="arm_manufacturer" default="$(optenv ROBOT_ARM_MANUFACTURER none)"/>
  <arg name="arm_model" default="$(optenv ROBOT_ARM_MODEL none)"/>
  <arg name="launch_moveit" default="false"/>
  <arg name="load_kinematics_file" default="true"/>

  <!-- Gripper configuration -->
  <arg name="launch_gripper" default="$(optenv ROBOT_HAS_GRIPPER false)"/>
  <arg name="gripper_manufacturer" default="$(optenv ROBOT_GRIPPER_MANUFACTURER none)"/>
  <arg name="gripper_model" default="$(optenv ROBOT_GRIPPER_MODEL none)"/>

  <!-- RViz configuration -->
  <arg name="rviz_config_file" if="$(arg run_localization)" default="$(optenv RVIZ_FILE rviz/rbvogui_map.rviz)"/>
  <arg name="rviz_config_file" unless="$(arg run_localization)" default="$(optenv RVIZ_FILE rviz/rbvogui_odom.rviz)"/>
  <arg name="rviz_config_path" default="$(eval find(rviz_package) + '/' + rviz_config_file)"/>

  <!-- Pad configuration -->
  <arg name="pad_model" default="$(optenv ROBOT_PAD_MODEL none)"/>
  <arg name="pad_config_file" default="$(optenv PAD_FILE robotnik_pad_plugins_ps4.yaml)"/>
  <arg name="pad_config_relative_path" default="$(optenv PAD_RELATIVE_PATH /config/)" />
  <arg name="pad_config_path" default="$(eval find(pad_package) + pad_config_relative_path + pad_config_file)"/>

  <!-- launch simulation -->
  <include if="$(arg run_simulation)" file="$(eval find(sim_bringup_package) + '/launch/run_simulation.launch')">
    <arg name="simulation_package" value="$(arg simulation_package)"/>
    <arg name="config_package" value="$(arg config_package)"/>
    <arg name="world" value="$(arg world)"/>
    <arg name="world_file" value="$(arg gazebo_world)"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="headless" value="$(arg headless)"/>
    <arg name="use_gui" value="$(arg use_gui)"/>
  </include>

  <!-- launch robot -->
  <include if="$(arg run_robot)" file="$(eval find(sim_bringup_package) + '/launch/run_robot.launch')">
    <arg name="simulation_package" value="$(arg simulation_package)"/>
    <arg name="config_package" value="$(arg config_package)"/>
    <arg name="robot_id" value="$(arg robot_id)"/>
    <arg name="prefix" value="$(arg prefix)" />
    <arg name="robot_model" value="$(arg robot_model)" />
    <arg name="robot_xacro" value="$(arg robot_xacro)" />
    <arg name="robot_use_custom_xacro_path" value="$(arg robot_use_custom_xacro_path)" />
    <arg name="robot_custom_xacro_path" value="$(arg robot_custom_xacro_path)" />
    <arg name="x_init_pose" value="$(arg x_init_pose)"/>
    <arg name="y_init_pose" value="$(arg y_init_pose)"/>
    <arg name="z_init_pose" value="$(arg z_init_pose)"/>
    <arg name="a_init_pose" value="$(arg a_init_pose)"/>
    <arg name="launch_base_hw_sim" value="$(arg launch_base_hw_sim)"/>
    <arg name="load_kinematics_file" value="$(arg load_kinematics_file)"/>
    <arg name="use_gpu" value="$(arg use_gpu)"/>
    <arg name="launch_arm" value="$(arg launch_arm)"/>
    <arg name="arm_manufacturer" value="$(arg arm_manufacturer)"/>
    <arg name="arm_model" value="$(arg arm_model)"/>
    <arg name="launch_gripper" value="$(arg launch_gripper)"/>
    <arg name="gripper_manufacturer" value="$(arg gripper_manufacturer)"/>
    <arg name="gripper_model" value="$(arg gripper_model)"/>
    <arg if="$(eval arg('robot_model') != 'rbvogui_6w')" name="kinematics" value="$(arg kinematics)"/>
    <arg if="$(eval arg('robot_model') == 'rbvogui_6w')" name="kinematics" value="diff"/> 
    <arg name="twist2ackermann" value="$(arg twist2ackermann)"/>
    <arg name="merge_lasers_sim" value="$(arg merge_lasers_sim)"/>
    <arg name="pad_model" value="$(arg pad_model)"/>
    <arg name="pad_config_file" value="$(arg pad_config_file)"/>
    <arg name="pad_config_path" value="$(arg pad_config_path)"/>
  </include>

  <!-- launch rviz -->
  <include if="$(arg run_rviz)" file="$(eval find(sim_bringup_package) + '/launch/run_rviz.launch')">
    <arg name="rviz_config_file" value="$(arg rviz_config_file)" />
    <arg name="rviz_config_path" value="$(arg rviz_config_path)" />
    <arg name="config_package" value="$(arg rviz_package)"/>
  </include>

  <!-- Mapping launch file -->
  <group ns="$(arg robot_id)">
    <include if="$(arg run_mapping)" file="$(find rbvogui_localization)/launch/gmapping.launch">
    </include>
  </group>

  <!-- Localization launch file -->
  <include if="$(arg run_localization)" file="$(find rbvogui_localization)/launch/localization_complete.launch">
		<arg name="prefix" value="$(arg prefix)"/>
    <arg if="$(arg merge_lasers_sim)" name="scan_topic" value="merged_laser/scan"/>
    <arg unless="$(arg merge_lasers_sim)" name="scan_topic" value="front_laser/scan"/>
    <arg name="map" value="$(arg map_file)"/>
	</include>

  <!-- Navigation launch file -->
  <include if="$(arg run_navigation)" file="$(find rbvogui_navigation)/launch/navigation_complete.launch">
    <arg name="robot_model" value="$(arg robot_model)" />
    <arg if="$(eval arg('robot_model') != 'rbvogui_6w')" name="kinematics" value="$(arg kinematics)"/>
    <arg if="$(eval arg('robot_model') == 'rbvogui_6w')" name="kinematics" value="diff"/>
		<arg name="prefix" value="$(arg prefix)"/>
	</include>

</launch>