<?xml version="1.0"?>
<launch>

  <!-- What simulator to use -->
  <arg name="simulation_package" default="$(optenv SIMULATION_CONFIG_PACKAGE rbvogui_gazebo)"/>
  <arg name="config_package" default="$(optenv CONFIG_PACKAGE rbvogui_gazebo)"/>
  <arg name="sim" default="$(optenv SIM_CONTROLLER true)"/>

  <!-- arg to config the launch file-->
  <arg name="robot_model" default="$(optenv ROBOT_MODEL rbvogui)"/> 
  <arg name="robot_xacro" default="$(optenv ROBOT_XACRO rbvogui_xl_std.urdf.xacro)"/>
  <arg name="gpu" default="false"/>

  <!-- Robot configuration -->
  <arg name="robot_id" default="$(optenv ROBOT_ID robot)"/>
  <arg name="prefix" default="$(arg robot_id)_"/>
  <arg name="x_init_pose" default="0"/>
  <arg name="y_init_pose" default="0"/>
  <arg name="z_init_pose" default="0"/>
  <arg name="launch_base_hw_sim" default="false"/>
  <arg name="kinematics" default="$(optenv ROBOT_KINEMATICS omni)"/>
	<arg name="twist2ackermann" default="$(optenv ROBOT_ACKERMANN false)"/>

  <!-- Arm configuration-->
  <arg name="launch_arm_control" default="true"/>
	<arg name="launch_arm" default="$(arg launch_arm_control)"/>
  <arg name="arm_controllers" default="right_arm/pos_traj_controller left_arm/pos_traj_controller"/> <!-- controllers can be listed seprated by a blank space -->
  <arg name="load_kinematics_file" default="true"/> <!-- Necesary for ur_description compatible with official ur drivers--> 
  
  <!-- Gripper configuration-->
  <arg name="launch_gripper_control" default="false"/>
  <arg name="gripper_controllers" default="gripper_controller"/> <!-- controllers can be listed seprated by a blank space -->
  
  <!-- Launch robot (simulation specific software) -->
  <group ns="$(arg robot_id)">
    <!-- spawn robot in simulator -->
    <include file="$(eval find(simulation_package) + '/launch/spawn_robot.launch')">
      <arg name="robot_id" value="$(arg robot_id)"/>
      <arg name="x_init_pose" value="$(arg x_init_pose)"/> 
      <arg name="y_init_pose" value="$(arg y_init_pose)"/>
      <arg name="z_init_pose" value="$(arg z_init_pose)"/>
    </include>
  </group>

  <!-- Launch robot (simulation independent software) -->
  <group ns="$(arg robot_id)">

    <!-- Load the URDF into the ROS Parameter Server -->
    <include file="$(find rbvogui_description)/launch/rbvogui_state.launch" >
      <arg name="robot_id" value="$(arg robot_id)" />
      <arg name="robot_xacro" value="$(arg robot_xacro)" />
      <arg name="launch_arm" value="$(arg launch_arm)" />
      <arg name="load_kinematics_file" value="$(arg load_kinematics_file)"/>
      <arg name="gpu" value="$(arg gpu)"/>
    </include>

    <!-- Start control nodes -->
    <include file="$(find rbvogui_control)/launch/rbvogui_control.launch">
      <arg name="robot_id" value="$(arg robot_id)"/>
      <arg name="sim" value="true"/>
      <arg name="kinematics" value="$(arg kinematics)"/>
      <arg name="arm_controllers" value="$(arg arm_controllers)"/>
      <arg name="sim_arm_control" value="$(arg launch_arm_control)" />
    </include>

    <!-- pad -->
		<include file="$(find rbvogui_pad)/launch/rbvogui_pad.launch">
			<arg name="kinematics" value="$(arg kinematics)"/>
		</include>

    <!-- base_hw_sim -->
		<include if="$(arg launch_base_hw_sim)" file="$(find robotnik_base_hw_sim)/launch/rb1_hw_sim.launch">
			<arg name="prefix" value="$(arg prefix)"/>
		</include>
  </group>
  
</launch>
